.hero__img {
    width: 1718.48px;
    height: 650px;
    margin-left: -105px;
    margin-bottom: 100px;
    background-image: url(../../images/hero.png);
}

.hero__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: -160px;
}

.hero__card,
.hero__carrd {
    width: 417.94px;
    height: 378.31px;
    background: #ddd;
    padding: 20px;
    border-radius: 10px;
    transition: .5s ease-in-out;
    box-shadow: 0 0 1px 0 #000;
}

@media screen and (max-width: 500px) {

    .hero__card,
    .hero__carrd {
        width: 330px;
        align-items: center;
        justify-content: center;
        margin-left: -10px;
    }
}

.hero__carrd {
    background: #fff;
}

.hero__card:hover,
.hero__carrd:hover {
    box-shadow: 1px 1px 10px 0px #222;
}

.hero__card img,
.hero__carrd img {
    width: 100%;
    height: 230px;
}

.hero__card h2,
.hero__carrd h2 {
    width: 202.18px;
    height: 58.08px;
    color: rgb(34, 50, 99);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 10px;
}

.price {
    display: flex;
    width: 330px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.price h1 {
    width: 117.82px;
    color: rgb(64, 191, 255);
    font-family: Raleway;
    font-size: 30px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0.5px;
    text-align: left;
}

.price h2 {
    width: 73px;
    color: rgb(144, 152, 177);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration-line: line-through;
}

.price h3 {
    width: 75.54px;
    color: rgb(251, 113, 129);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-align: left;
}