.carts {
    margin: 55px 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    border-radius: 4px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    margin: 10px auto;
    padding: 2px 10px;
}

.items__img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.items__img p {
    width: 203px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.items h3 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.inc__dec {
    display: flex;
    width: 80px;
    height: 54px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    margin: 5px 0;
}

.dec button {
    display: block;
    font-size: 20px;
}

.items button {
    background: transparent;
    font-size: 20px;
}

.cart__img {
    width: 80px;
    height: 80px;
}

.subtotal h3 {
    width: 250px;
    text-align: center;
}

.cars {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 33px 0;
}

.itemss {
    width: 250px;
    height: 238px;
    border: 1px solid #222;
    padding: 10px;
}

.cartt__img {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 0px auto;
}

.itemss__img p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.itemss h3 {
    display: inline-block;
    color: rgb(38, 38, 38);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    padding: 3px 0px;
}

.inc__decc {
    display: flex;
    width: 60px;
    height: 54px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    margin: 5px 0;
    margin-left: 150px;
    margin-top: -55px;
}

.decc button {
    display: block;
    font-size: 20px;
    background: transparent;
}

.decc__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #ddd;
    transition: .5s;
}

.decc__button:hover {
    background: #ff0000;
}

@media screen and (max-width: 500px) {
    .items {
        display: flex;
    }
}