@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header__ms {
    display: flex !important;
    padding: 5px 20px;
}

.navbar__bg {
    width: 100%;
    background: #fff;
}

.cent {
    display: flex;
    align-items: center;
}

.active {
    box-shadow: 0 0 4px 0 #ff0000;
}

.logo {
    margin-right: 170px;
}

.navvv {
    display: flex;
}

.nav__item {
    color: rgb(38, 38, 38) !important;
    font-family: Poppins !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 36px !important;
    letter-spacing: 0% !important;
    text-align: left !important;
    transition: .3s ease-in-out !important;
    padding: 2px 13px !important;
    border-radius: 7px !important;
}

.nav__item:hover {
    color: rgb(64, 191, 255) !important;
}

@media screen and (max-width: 900px) {
    .nav__item {
        display: none;
    }
}